include README.rst
include LICENSE
include MANIFEST.in
include NEWS.rst
include requirements.txt
include requirements-test.txt
include suseapi/testdata/*
include suseapi/testdata/_svn
include suseapi/testdata/maintained/*
include suseapi/testdata/maintained/.svn-entries
include docs/Makefile
include docs/make.bat
include docs/conf.py
include docs/*.rst
